<div id='new-result'>

  <h1>New Game Details</h1>
  <form method='post' action='/game/new/result'>

    <label for="location-id">Location</label>
    <select id='location-id' name='location_id'>
      <% @locations.each do |location| %>
        <option value=<%= location.id %>> <%= location.l_name  %> </option>
      <% end %>
    </select>

    <fieldset>
      <legend>Player 1</legend>

      <label for='p1-id'>Player</label>
      <select id='p1-id' name='p1_id'>
        <% @players.each do |player| %>
          <option value=<%= player.id %>> <%= player.p_name  %> </option>
        <% end %>
      </select>

      <label for="p1-score">Score</label>
      <input id="p1-score" type="number" min="0" steps="1" name="p1_score" value="0">
    </fieldset>

    <fieldset>
      <legend>Player 2</legend>

      <label for='p2-id'>Player</label>
      <select id='p2-id' name='p2_id'>
        <% @players.each do |player| %>
          <option value=<%= player.id %>> <%= player.p_name  %> </option>
        <% end %>
      </select>

      <label for="p2-score">Score</label>
      <input id="p2-score" type="number" min="0" steps="1" name="p2_score" value="0">
    </fieldset>


    <input type="submit" value="Submit Result">

  </form>

</div>
