<div id='player-update-admin'>
<h1>Update Player</h1>

  <form method='post' action='/admin/player/<%= @player.id %>/update'>
    
    <label for='player-name'>Name:</label>
    <input required type='text' name='p_name' value='<%= @player.p_name %>'>
    <br>

    <label for='player-primary-org'>Primary Organisation:</label>
    <select name='o_name'>
      <%  @orgs.each do |org| %>
      <option value='<%= org.id %>'><%= org.o_name %></option>
      <% end %> 
    </select>
    <br>

    <label for='player-primary-group'>Primary Group:</label>
    <select name="g_name">
      <% @groups.each do |group| %>
      <option value='<%= group.id %>'><%= group.g_name  %></option>
      <% end %>
    </select>
    <br>

   <input type='submit' value='Update Player'>
  </form>

</div>

