<div id='player-update-admin'>
<h1>Update Player</h1>

  <form method='post' action='/admin/player/<%= @player.id %>/update'>
    
    <label for='player-name'>Name:</label>
    <input required type='text' name='p_name' value='<%= @player.p_name %>'>
    <br>
<!-- needs to autofill with current values for both selects -->
<!-- use radio buttons to only select from previously added orgs/groups -->
    <label for='player-primary-org'>Primary Organisation:</label>
    <select name='primary_org_id'>
      <%  @orgs.each do |org| %>
      <option value='<%= org.id %>'><%= org.o_name %></option>
      <% end %> 
    </select>
    <br>

    <label for='player-primary-group'>Primary Group:</label>
    <select name="primary_group_id">
      <% @groups.each do |group| %>
      <option value='<%= group.id %>'><%= group.g_name  %></option>
      <% end %>
    </select>
    <br>

  <input hidden type="text" name="rating" value:<%= @player.rating %>>

  <input hidden type="text" name="picture" value:<%= @player.picture %>>


   <input type='submit' value='Update Player'>
  </form>

</div>

